:host {
    width: 100vw;
    height: 200vh;
    background: #66666666;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 16px;

    .close {
        cursor: pointer;
    }
}

.content {
    padding: 16px 64px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 16px;

    p {
        margin-top: 4px;
        margin-bottom: 16px;
    }

    .title {
        padding: 0;
        margin-top: 0;
    }

    .copy-button {
        margin-top: 24px;
        padding: 4px;
        font-size: 16px;
    }
    .copied-text {
        color: #6c6c6c;
        font-size: 14px;
        margin-top: 16px;
        height: 16px;
    }
}

.modal {
    background: #e9d9e9;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
    z-index: 9;
    top: 20%;
    position: fixed;
}

.guesses {
    display: flex;
    flex-direction: column;

    .guess {
        display: flex;
        flex-direction: row;

        .digit {
            font-size: 24px;
        }
    }
}