:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .color-panel {
    border-radius: 16px;
    width: 250px;
    height: 175px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    margin: 16px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;

    .color-text {
      color: grey;
      mix-blend-mode: difference;
    }
  }
}

.guess-panel {
  display: flex;
  flex-direction: column;

  .guess {
    display: flex;
    flex-direction: row;
    .digit {
      border-radius: 8px;
      border: 2px solid grey;
      margin: 10px;
      height: 64px;
      width: 64px;
    }
  }
}

.input-panel {
  display: flex;
  flex-direction: row;
    .input-digit {
      border-radius: 8px;
      border: 2px solid black;
      height: 64px;
      width: 64px;
      margin: 10px;
      font-size: 32px;
      text-align: center;
      padding: 0;
    }
    .submit {
      height: 64px;
      width: 64px;
      border-radius: 8px;
      border: 2px solid white;
      margin: 10px;
      font-size: 32px;
      background: darkblue;
      color: white;
      font-weight: bold;
      text-align: center;
      line-height: 64px;
      cursor: pointer;
  }
}
