@if (showResult()) {
    <app-result-modal [win]="win()" [guesses]="guesses()" [target]="hexCode()" [gameId]="gameSeed()" (close)="closeModal()"></app-result-modal>
}
<div class="target-panel">
  <div class="color-panel" [style.background]="'#' + hexCode()">
    <span class="color-text">
      Target
    </span>
  </div>
  <div class="color-panel" [style.background]="lastGuessHex()">
    <span class="color-text">
      Last Guess
    </span>
  </div>
</div>
<div class="input-panel">
  <input class="input-digit" [formField]="guessForm.first" hexDigit (keyup)="keyup($event)">
  <input class="input-digit" [formField]="guessForm.second" hexDigit (keyup)="keyup($event)">
  <input class="input-digit" [formField]="guessForm.third" hexDigit (keyup)="keyup($event)">
  <input class="input-digit" [formField]="guessForm.fourth" hexDigit (keyup)="keyup($event)">
  <input class="input-digit" [formField]="guessForm.fifth" hexDigit (keyup)="keyup($event)">
  <input class="input-digit" [formField]="guessForm.sixth" hexDigit (keyup)="keyup($event)">
  @if (this.gameFinished()) {
      <button class="submit" (click)="showResult.set(true)" (keyup)="keyup($event)">ⓘ</button>
  }@else {
      <button class="submit" (click)="submit()" (keyup)="keyup($event)">↩</button>
  }
</div>
<div class="guess-panel">
  @for (guess of guessesReverse(); track guess) {
    <app-guess [value]="guess.value" [distance]="guess.distance"></app-guess>
  }
</div>
