:host {
  display: flex;
  flex-direction: row;
}
.digit {
  border-radius: 8px;
  border: 2px solid grey;
  margin: 10px;
  height: 64px;
  width: 64px;
  font-size: 24px;
  text-align: center;
  line-height: 64px;
  font-family: sans-serif;
  padding: 0;

  .text {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
  }
  .distance {
    padding: 0;
    margin: 0;
    line-height: 32px;
    font-size: 24px;
  }
}
.color {
  border-radius: 8px;
  border: 2px solid grey;
  margin: 10px;
  height: 64px;
  width: 64px;
}
